span.badge{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 6px 12px;
    line-height: 20px;
}

span.badge.square{
    border-radius: 4px;
}

span.badge.pill{
    border-radius: 12px;
}

span.badge.grey{
    background-color: #F3F4F6;
    color: #1F2937;
}

span.badge.red{
    background-color: #FEE2E2;
    color: #991B1B;
}

span.badge.yellow{
    background-color: #FEF3C7;
    color: #92400E;
}

span.badge.green{
    background-color: #D1FAE5;
    color: #065F46;
}

span.badge.blue{
    background-color: #DBEAFE;
    color: #1E40AF;
}

span.badge.indigo{
    background-color: #E0E7FF;
    color: #3730A3;
}

span.badge.purple{
    background-color: #EDE9FE;
    color: #5B21B6;
}

span.badge.pink{
    background-color: #FCE7F3;
    color: #9D174D;
}


span.banner{
    display: flex;
    width: 896px;
    font-size: 0.875rem;
    padding: 16px;
    gap: 14px;
    align-items: center;
    border-radius: 6px;
}

span svg{
    width: 16px;
    height: 16px;
}

span.success{
    background-color: #ECFDF5;
    color: #065F46;
}

span.warning{
    background-color: #FFFBEB;
    color: #92400E;
}

span.error{
    background-color: #FEF2F2;
    color: #92400E;
}

span.neutral{
    background-color: #EFF6FF;
    color: #1E40AF;
}

